<div class="left-menu">
    <!--  <form action="#" class="search" ng-init="name = ''">-->
    <!--    <input placeholder="Search by name..." type="search" name="" id="" ng-model="name">-->
    <!--    <input type="submit" value="&#xf002;">-->
    <!--  </form>-->
    <!--    v-bind:style="{height: cellSize}" -->
    <!--    v-bind:style="{height: cellSize, width: cellSize, lineHeight: cellSize}" -->
    <!--     @click="placeCellTouched(i - 1, j - 1)"-->
    <!--     :id="'g-'+i+'-'+j"-->

    <!--  <div class="xp-grid">-->
    <!--    <div class="xp-cellContainer">-->
    <!--  </div>-->
    <!-- ng-init="isMe = (user.id === $Chat.user().id)"-->
    <menu class="list-friends pt-3">
        <li ng-repeat="user in $Chat.onlineUserList">
            <!--      <img width="50" height="50" ng-src="{{ user.image }}">-->
            <div class="info">
                <div class="user" ng-bind="user">{{user}}</div>
                <div class="status on" ng-cloak>
                    <!--          {{ $Chat.isTyping(user) ? 'typing...' : 'online' }}-->
                    <a class="status inactive" href="javascript:void(0);" ng-click="$Chat.sendRequest(user)">Send request...</a>
                </div>
            </div>
        </li>
    </menu>
    <footer class="footer text-center">
        <!--        login status-->
        <span ng-bind="$Chat.validOnline() ? 'Online' : 'Offline'"
              ng-class="'badge badge-pill ' + ($Chat.validOnline() ? 'badge-primary' : 'badge-dark')"> </span>
        <!--        connection status-->
        <span ng-bind="$Chat.connected() ? 'Connected' : 'Not Connected'"
              ng-class="'badge badge-pill ' + ($Chat.connected() ? 'badge-primary' : 'badge-dark')"></span><br>
        <!--        is my turn-->
        <span ng-bind="($Chat.Game.prototype.isMyTurn && $Chat.planeDrawn) ? 'Go' : 'Wait'"
              ng-class="'badge badge-pill ' + (($Chat.Game.prototype.isMyTurn && $Chat.planeDrawn) ? 'badge-success' : 'badge-danger')"></span><br>
        <button ng-style="$Chat.doubleCordBtnStyle($Chat.isDoubleCord && $Chat.planeDrawn)"
                ng-click="$Chat.doubleCordBtnClick()"
                class="btn btn-primary pt-3">{{$Chat.doubleCordBtnModel($Chat.isDoubleCord && $Chat.planeDrawn)}}</button>
    </footer>
</div>
<!--class="row" --><!--class="col-md" -->
<div class="chat text-center">
    <span>{{$Chat.hasValidUser}}</span>
    <div class="boards">
        <div class="oppo-background">
            <div class="align-right text-left">
                <h5>Opponent<br><span class="badge badge-secondary">{{$Chat.opponentName}}</span></h5>
            </div>
            <div class="our-board btn-group btn-matrix">
                <div ng-repeat="colLabel in $Chat.colLabels">
                    <div ng-repeat="rowLabel in $Chat.rowLabels">
                        <!--                        <button class="badge btn-primary" ng-style="$Chat.mapToColor($Chat.gameMap[rowLabel][colLabel])" ng-click="$Chat.demo(rowLabel, colLabel, $Chat.mapToColor($Chat.gameMap[rowLabel][colLabel]))"> </button>-->
<!--                        {{$Chat.Game.prototype.planeMap[rowLabel][colLabel]}} || {{$Chat.sessionState}} || {{$Chat.Game.prototype.isMyTurn}}-->
                        <button class="badge btn-primary"
                                ng-style="$Chat.mapToColor($Chat.Game.prototype.planeMap[rowLabel][colLabel])"
                                ng-disabled="$Chat.Game.prototype.planeMap[rowLabel][colLabel] % 10 != 9 || $Chat.Game.prototype.state > 3 || $Chat.sessionState != 11"
                                ng-click="$Chat.Game.prototype.Click(rowLabel, colLabel, $Chat.isDoubleCord)"> </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <hr>
        </div>

        <div class="align-right text-left">
            <h5>Me<br><span class="badge badge-secondary">{{$Chat.user()}}</span></h5>
        </div>
        <div class="their-board btn-group btn-matrix">
            <div ng-repeat="colLabel in $Chat.colLabels">
                <div ng-repeat="rowLabel in $Chat.rowLabels">
                    <button class="badge btn-primary"
                            ng-style="$Chat.mapToColor($Chat.Game.prototype.gameMap[rowLabel][colLabel])"
                            ng-click="$Chat.Game.prototype.Click(rowLabel, colLabel, $Chat.isDoubleCord)"
                            ng-disabled="($Chat.Game.prototype.gameMap[rowLabel][colLabel] % 10 != 9 && $Chat.Game.prototype.gameMap[rowLabel][colLabel] % 10 != 2 && $Chat.Game.prototype.gameMap[rowLabel][colLabel] % 10 != 3)
                                            || !$Chat.Game.prototype.isMyTurn || $Chat.sessionState != 11 || !$Chat.Game.prototype.recvBoard || ($Chat.Game.prototype.gameMap[rowLabel][colLabel] % 10 == 2 && $Chat.isDoubleCord == false) || ($Chat.Game.prototype.gameMap[rowLabel][colLabel] % 10 == 3 && $Chat.isDoubleCord == false)"
                    > </button>
                </div>
            </div>
        </div>
    </div>
</div>
