<div class="left-menu">
    <!--  <form action="#" class="search" ng-init="name = ''">-->
    <!--    <input placeholder="Search by name..." type="search" name="" id="" ng-model="name">-->
    <!--    <input type="submit" value="&#xf002;">-->
    <!--  </form>-->
    <!--    v-bind:style="{height: cellSize}" -->
    <!--    v-bind:style="{height: cellSize, width: cellSize, lineHeight: cellSize}" -->
    <!--     @click="placeCellTouched(i - 1, j - 1)"-->
    <!--     :id="'g-'+i+'-'+j"-->

    <!--  <div class="xp-grid">-->
    <!--    <div class="xp-cellContainer">-->
    <!--  </div>-->
    <!-- ng-init="isMe = (user.id === $Chat.user().id)"-->
    <menu class="list-friends pt-3">
        <li ng-repeat="user in $Chat.onlineUserList">
            <!--      <img width="50" height="50" ng-src="{{ user.image }}">-->
            <div class="info">
                <div class="user" ng-bind="user">{{user}}</div>
                <div class="status on" ng-cloak>
                    <!--          {{ $Chat.isTyping(user) ? 'typing...' : 'online' }}-->
                    <a class="status inactive" href="javascript:void(0);" ng-click="$Chat.sendRequest(user)">Send request...</a>
                </div>
            </div>
        </li>
    </menu>
    <footer class="footer text-center">
<!--        login status-->
        <span ng-bind="$Chat.validOnline() ? '已登录' : '未登录'"
              ng-class="'badge badge-pill ' + ($Chat.validOnline() ? 'badge-primary' : 'badge-dark')"> </span>
<!--        connection status-->
        <span ng-bind="$Chat.connected() ? '已连接' : '未连接'"
              ng-class="'badge badge-pill ' + ($Chat.connected() ? 'badge-primary' : 'badge-dark')"></span><br>
<!--        is my turn-->
        <span ng-bind="$Chat.Game.prototype.isMyTurn ? '本方下棋中' : '对方下棋中'"
              ng-class="'badge badge-pill ' + ($Chat.Game.prototype.isMyTurn ? 'badge-success' : 'badge-danger')"></span><br>
        <button ng-style="$Chat.doubleCordBtnStyle($Chat.isDoubleCord)"
                ng-click="$Chat.doubleCordBtnClick()"
                class="btn btn-primary pt-3">{{$Chat.doubleCordBtnModel($Chat.isDoubleCord)}}</button>
    </footer>
</div>
<!--class="row" --><!--class="col-md" -->
<div class="chat text-center">
    <span>{{$Chat.hasValidUser}}</span>
    <div class="boards">
        <div class="oppo-background">
            <div class="align-right text-left">
                <h5>Opponent progress<br><span class="badge badge-secondary">{{$Chat.opponentName}}</span></h5>
            </div>
            <div class="our-board btn-group btn-matrix">
                <div ng-repeat="colLabel in $Chat.colLabels">
                    <div ng-repeat="rowLabel in $Chat.rowLabels">
<!--                        <button class="badge btn-primary" ng-style="$Chat.mapToColor($Chat.gameMap[rowLabel][colLabel])" ng-click="$Chat.demo(rowLabel, colLabel, $Chat.mapToColor($Chat.gameMap[rowLabel][colLabel]))"> </button>-->
                        <button class="badge btn-primary"
                                ng-style="$Chat.mapToColor($Chat.Game.prototype.planeMap[rowLabel][colLabel])"
                                ng-disabled="$Chat.Game.prototype.planeMap[rowLabel][colLabel] % 10 != 9 || $Chat.Game.prototype.state > 3"
                                ng-click="$Chat.Game.prototype.Click(rowLabel, colLabel, $Chat.isDoubleCord)"> </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <hr>
        </div>

        <div class="align-right text-left">
            <h5>Guess now!<br><span class="badge badge-secondary">{{$Chat.user()}}</span></h5>
        </div>
        <div class="their-board btn-group btn-matrix">
            <div ng-repeat="colLabel in $Chat.colLabels">
                <div ng-repeat="rowLabel in $Chat.rowLabels">
                    <button class="badge btn-primary"
                            ng-style="$Chat.mapToColor($Chat.Game.prototype.gameMap[rowLabel][colLabel])"
                            ng-click="$Chat.Game.prototype.Click(rowLabel, colLabel, $Chat.isDoubleCord)"
                            ng-disabled="$Chat.Game.prototype.gameMap[rowLabel][colLabel] % 10 != 9 || !$Chat.Game.prototype.isMyTurn"
                    > </button>
                </div>
            </div>
        </div>
<!--        <br>-->
    </div>

    <!--  <div class="top">-->
    <!--    <div class="avatar" style="float: right; padding-right: 12px">-->
    <!--      <img width="50" height="50" ng-src="{{ $Chat.user().image }}">-->
    <!--    </div>-->
    <!--    <div class="info" style="float: right; width: 250px; text-align: right; padding: 12px">-->
    <!--      <div class="name" ng-bind="$Chat.user().name"></div>-->
    <!--      <div class="count status on">online for {{ $moment($Chat.user().timestamp).fromNow(true) }}</div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <ul class="messages">-->
    <!--    <li ng-class="{'i': isMine, 'friend-with-a-SVAGina': !isMine}" ng-repeat="message in $Chat.messages()"-->
    <!--        ng-init="isMine = (message.username === $Chat.user())">-->

    <!--      <div class="head">-->
    <!--        <span class="name" ng-bind="message.username"></span>-->
    <!--        <span class="time" ng-bind="$moment(message.timestamp).fromNow()"></span>-->
    <!--      </div>-->

    <!--      <div class="message" ng-bind="message.body"></div>-->

    <!--    </li>-->
    <!--  </ul>-->
    <!--  <div class="write-form">-->
    <!--    <textarea placeholder="Type your message..." name="e" rows="2" ng-model="input.body" ng-change=""-->
    <!--              ng-keypress="keypress($event)"></textarea>-->
    <!--    <span class="send" ng-click="send(input)">Send</span>-->
    <!--  </div>-->
</div>
